.App {
  align-items: center;
  background-color: #0B0C10;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  min-height: 100vh;
  color: #C5C6C7;
}

.App-menubutton {
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  padding: 3%;
  z-index: 1000;
}

.App-menubutton button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0px;
}

.App-body {
}

p {
  font-size: larger;
  color: "#C5C6C7"
}

a {
  color: "#C5C6C7"
}

li {
  font-size: larger;
}

h1, h2, h3, h4 {
  color: #66FCF1;
}