.App {
  align-items: center;
  background-color: #D3D3D3;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.App-social {
  margin: auto;
  position: absolute;
  left: 0;
  top: 35%;
}

.App-body {
  flex: 30;
}

.App-footer {
  align-self: stretch;
  background-color: #2a2a2a;
  color: #FFFFFF;
  flex: 1;
}

.App-menubutton {
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  padding:3%;
}