.Explore {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #0B0C10;
}

.Explore-map {
    
}

.Explore img {
    max-width: 800px;
    max-height: 500px;
}

.Explore-slider {
    align-self: center;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section {
    width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    padding-bottom: 5vh;
}