.ExploreTemplate {
    min-height: 90vh;
    width: 800px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@media (max-width: 1000px) {
    .ExploreTemplate {
        min-height: 90vh;
        width: 80vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

.ExploreTemplate-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ExploreTemplate-backbutton {
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    padding: 3%;
}
  
.ExploreTemplate-backbutton button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0px;
}

.ExploreTemplate img {
    width: 100%;
    height: 100%;
}

.ExploreTemplate-slider {
    align-self: center;
}

.ExploreTemplate-slider-bullet:hover {
    cursor: pointer;
}

.ExploreTemplate-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ExploreTemplate-links-nolink {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ExploreTemplate-links-link {
    align-self: flex-end;
}

.ExploreTemplate-links-share {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

.ExploreTemplate-links-share button {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 10px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    height: 1px;
    width: 50%;
    background-color: #484848;
    position: relative;
    border: 0;
    margin: .5em 0 1em;
}