.Home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 660px;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 3;
}