.Projects {
    width: 80vw;
    min-height: 100vh;
    max-width: 80vw;
}

.Projects-header {
    display: flex;
    flex-direction: column;
}

.Projects-selector-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.Projects-selector-button {
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}

#selected {
    background-color: #66FCF1; 
    color: #0B0C10;
    border-color: #45A29E;
}

#not_selected {
    background-color: #0B0C10; 
    color: #66FCF1;
    border-color: #45A29E;
}

.Projects-tile-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: calc((80vw - (768px * 2)) / 2);
    align-items: center;
    flex-wrap: wrap;
    
}

.Projects-tile {
    width: 768px;
    height: 512px;
    border-style: solid;
    border-width: 5px;
    border-color: #66FCF1;
    padding-top: 5px;
}

.Projects-tile:hover {
    opacity: 0.5;
}