.SocialBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4vw;
}

.SocialBar-item {
    flex: 1;
    padding: 5px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: transform .5s
                cubic-bezier(0, .52, 0, 1);
    transform: translate3d(-20px, 0, 0);
} 

.SocialBar-item:hover {
    transform: translate3d(0, 0, 0);
} 

#github {
    background-color: #f5f5f5;
}

#facebook {
    background-color: #4267B2;
}

#linkedin {
    background-color: #0072b1;
}

