/*
Colors:

#EFF5F5
#D6E4E5
#497174
#EB6440

*/

.App {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  min-height: 100vh;
  background-color: #D6E4E5;
}

.App-menubutton {
  position: fixed;
  right: 0;
  top: 0;
  padding: 3%;
  z-index: 3;
}

.App-menubutton button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0px;
}

h1, h2, h3, h4, h5 {
  color: #EB6440;
}

h1 {
  text-shadow: -1px 1px 2px #D6E4E5,
    1px 1px 2px #D6E4E5,
    1px -1px 0 #D6E4E5,
    -1px -1px 0 #D6E4E5;
}

li {
  font-size: larger;
  color: #EFF5F5;
}

p {
  font-size: larger;
  color: #EFF5F5;
}

@media (max-width: 800px) {
  li {
    font-size: large;
  }
  
  p {
    font-size: large;
  }
}

a:visited, a:active, a:link {
  color: #EB6440;
  background-color: transparent;
  text-decoration: none;
}