.App {
  align-items: center;
  background-color: #0B0C10;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  min-height: 100vh;
  color: #C5C6C7;
}

.App-menubutton {
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  padding: 3%;
  z-index: 1000;
}

.App-menubutton button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0px;
}

h1, h2, h3, h4 {
  color: #66FCF1;
}

li {
  font-size: larger;
}

p {
  font-size: larger;
}

@media (max-width: 800px) {
  li {
    font-size: large;
  }
  
  p {
    font-size: large;
  }
}

a:visited, a:active, a:link {
  color: #66FCF1;
  background-color: transparent;
  text-decoration: none;
}