.HomeBackground {
}

  
.ink2 {
    transform: rotate(45deg);
}
  
.ink3 {
    transform: rotate(-45deg);
}

.ink4 {
    transform: rotate(90deg);
}




#ink4-1 {
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-40%);
}

#ink4-2 {
    height: 70vh;
    position: absolute;
    top: 10%;
    right: 0;
    transform: translateX(40%);
}

#ink4-3 {
    height: 60vh;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
}