.ImgCarousel-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%;
    overflow: hidden;
}

.ImgCarousel-bullets {
    height: 5px;
    width: 5px;
    background-color: #C5C6C7;
}

#outer-circle {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background: #C5C6C7;
    border-radius: 50%;
    height:20px;
    width:20px;
}

#outer-circle:hover {
    cursor: pointer;
}

#inner-circle { 
    position:absolute;
    background: #0B0C10;
    border-radius: 50%;
    right: 5px;
    left: 5px;
    top: 5px;
    bottom: 5px;
}