#Menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #497174;
}


#Menu.hide {
    transform: translate(0, -100vh);
    transition-duration: 0.7s;
}

#Menu.show {
    transform: translate(0, 0);
    transition-duration: 0.7s;
    overflow: hidden;
}

.Menu-link {
    margin: 2em;
    height: 5em;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #D6E4E5;
}

.Menu-link:hover {
    cursor: pointer;
}

.Menu-routes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Menu-routes p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Menu-menubutton {
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3%;
}