.PinPopup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Popup .mapboxgl-popup-content {
    background: #1F2833;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 3px 2px #000;
}

.Popup .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.Popup .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.Popup .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #1F2833;
}
.Popup .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.Popup .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.Popup .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #1F2833;
}
.Popup .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #1F2833;
}
.Popup .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #1F2833;
}