.ProjectTile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 30px;
}

.ProjectTile-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100% - 30px);
    width: 100%;
    overflow:hidden;
}