.Projects {
    width: 80vw;
    min-height: 100vh;
    max-width: 1000px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.Projects-header {
    display: flex;
    flex-direction: column;
}

.Projects-selector-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -8px;
}


.Projects-selector-button {
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}
@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-5px);
    }
}

#selected {
    background-color: #66FCF1; 
    color: #0B0C10;
    animation-duration: 0.2s;
    animation-name: bounce;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#not_selected {
    background-color: #0B0C10; 
    color: #66FCF1;
    border-color: #66FCF1;
}

#not_selected:hover {
    border-width: 5px;
    margin: 5px
}

.Projects-tile-container {
    width: 100%;
    display: grid;
    gap: 25px 25px;
    grid-template-columns: 1fr;
    align-items: space-evenly;
    justify-items: center;
}

.Projects-tile {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 220px;
    box-shadow: 0 1px 2px rgba(197, 198, 199, 0.1);
}

.Projects-tile:hover {
    cursor: pointer;
}


@media (min-width: 680px) {
    .Projects-tile-container {
        grid-template-columns: 1fr;
    }

    .Projects-tile {
        width: 450px;
        height: 300px;
    }
}

@media (min-width: 1000px) {
    .Projects-tile-container {
        grid-template-columns: 1fr 1fr;
    }

    .Projects {
        width: 1000px;
    }
}