.Projects {
    min-height: 100vh;
    max-width: 1000px;
    padding: 5em;
    background-color: #497174;
}

.Projects-header {
    display: flex;
    flex-direction: column;
}

.Projects-selector-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -8px;
}


.Projects-selector-button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 8px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-5px);
    }
}

#selected {
    background-color: #EB6440; 
    color: #EFF5F5;
    border-color: #EB6440;
    animation-duration: 0.2s;
    animation-name: bounce;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#not_selected {
    background-color: #497174; 
    color: #EFF5F5;
    border-color: #EB6440;
}

#not_selected:hover {
    border-width: 5px;
    margin: 5px
}

.Projects-tile-container {
    width: 100%;
    display: grid;
    gap: 2em 0;
    grid-template-columns: 1fr;
    justify-items: center;
}

.Projects-tile {
    width: 320px;
    height: 220px;
    box-shadow: 5px 5px 5px #000;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Projects-tile:hover {
    cursor: pointer;
}

@media (min-width: 1000px) {

    .Projects-tile-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .Projects-tile {
        width: 260px;
        height: 180px;
    }
}